.block-options .custom-control.custom-radio {
  display: inline-block;
  margin-right: 10px;
}
.code-part {
  position: relative;
  border-radius: 5px;
}
.copy-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
